// Specific CSS for your home-page
.flex-container {
  display: flex;
  justify-content: center;
}

.flex-item {
  flex: 0 0 50%;
}

.landing-title {
  text-align: center;
}

.landing-btn {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}

.landing-form {
  width: 60%;
  align-items: right;
  margin: auto;
}

.form-inline div {
  display: inline-block;
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}



.btn-gradient {
  color: #955196;
  // padding: 8px 24px;
  border-radius: 8px;
  border-color: #955196;
  transition: background 0.3s ease;
}

.btn-gradient:hover {
  background: #955196;
  color: white;
}

.btn {
  width: 180px;
  text-align: center;
  height: 40px;
  margin: auto;
  // padding-top: 12px;
}

#chart-1 {
  height: 450px !important;
  padding-top: 10px !important;

}

#sub-header {
  background-color: #955196;
  color: white;
  padding: 5px 15px;
  margin-top: 10px;
  text-align: center;
  margin-bottom: 15px;
}

.home-btn {
  width: 600px !important;
  background-color: #955196;
  color: white;
}

body {
 color: #955196 !important;
}

.add-buttons {
  display: grid;
  grid-template-rows:1fr 1fr 1fr;
  grid-gap: 16px;
}

.other-buttons{
  display: grid;
  grid-template-columns:1fr 1fr;
  grid-gap: 16px;
}

.btn-primary {
  background-color:#955196;
  border-radius: 8px;
  border-color: #955196;
  transition: background 0.3s ease;
}

.btn-primary:hover {
  background-color: #f2f2f2;
  color: #955196;
  // padding: 8px 24px;
  border-radius: 8px;
  border-color: #955196;
  transition: background 0.3s ease;
}

.btn-danger {
  background-color:#a34344;
  border-radius: 8px;
  border-color: #a34344;
  transition: background 0.3s ease;
}

.btn-danger:hover {
  background-color: #f2f2f2;
  color: #a34344;
  // padding: 8px 24px;
  border-radius: 8px;
  border-color: #a34344;
  transition: background 0.3s ease;
}

.navbar-light .navbar-nav .nav-link {
  color: #955196;
}

#title-text {
  font-family: 'Montserrat', sans-serif;
  font-size: 32px;
  font-weight: bolder;
}

a:visited {
  color: purple;
}

#detail a:visited {
  color: white;
}

.projection-chart {
  margin-left: auto;
}

.refine-projection {
  margin-right: auto;
}