// Specific CSS for your home-page
.flex-container {
  display: flex;
  justify-content: center;
}

.flex-item {
  flex: 0 0 50%;
}

.landing-title {
  text-align: center;
  color: #000066;
}

#home-image {
  border-radius: 8px;

  box-shadow: 0px 0px 40px 20px rgba(0, 0, 0, 0.09);
}

#widget-text {
  color: #5c5959;
}
h5 {
  font-size: 44px;
}

h6 {
  color: #b300b3;
  font-size: 44px;
}

h4 {
  font-size: 32px;
}

.boxed {
margin-top: 32px;
width: 100%;
height: 640px;
background-color:  #ffffff;
}

#footer-box {
  margin-top: 32px;
  width: 100%;
  height: 700px;
  background-color:  #0E0000;
}


.landing-btn {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}

.landing-form {
  width: 60%;
  align-items: right;
  margin: auto;
}

.form-inline div {
  display: inline-block;
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.btn-gradient {
  color: #955196;
  border-radius: 10px;
  border-color: #955196;
  transition: background 0.3s ease;
}

.btn-gradient:hover {
  background: #955196;
  color: white;
}

.btn {
  width: 200px;
  text-align: center;
  height: 40px;
  margin: auto;
}

#chart-1 {
  height: 450px !important;
  padding-top: 10px !important;

}

#sub-header {
  background-color: #955196;
  color: white;
  padding: 5px 15px;
  margin-top: 10px;
  text-align: center;
  margin-bottom: 15px;
}

.home-btn {
  width: 600px !important;
  background-color: #955196;
  color: white;
}

body {
 color: #955196 !important;
}

.add-buttons {
  display: grid;
  grid-template-rows:1fr 1fr 1fr;
  grid-gap: -11px;
}

.other-buttons{
  display: grid;
  grid-template-columns:1fr 1fr;
  grid-gap: 16px;
}

.btn-primary {
  background-color:#955196;
  color: #f2f2f2;
  border-radius: 10px;
  border-color: #955196;
  transition: background 0.3s ease;
}

.btn-primary:hover {
  background-color: #f2f2f2;
  color: #955196;
  border-radius: 10px;
  border-color: #955196;
  transition: background 0.3s ease;
}

.btn-danger {
  background-color:#a34344;
  border-radius: 10px;
  border-color: #a34344;
  transition: background 0.3s ease;
}

.btn-danger:hover {
  background-color: #f2f2f2;
  color: #a34344;
  border-radius: 10px;
  border-color: #a34344;
  transition: background 0.3s ease;
}

.navbar-light .navbar-nav .nav-link {
  color: #955196;
}

#title-text {
  font-family: 'Montserrat', sans-serif;
  font-size: 32px;
  font-weight: bolder;
  margin-left: 8px;

}

.logo-box {
   display: flex;
   align-items:center;
}

a:visited {
  color: purple;
}

#detail a:visited {
  color: white;
}


.flex-container {
  display:flex
}

.item1 {
  width: 25%;
}

.item2 {
  width: 75%;
}

.projection-chart {
  margin-left: auto;
}

.refine-projection {
  margin-right: auto;
}

.card-img {
  margin: auto;
}

